<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.UserDao">
	<sql id="User_Clause">
		<if test="id != null">
			AND id=#{id}
		</if>
		<if test="name != null and name !=''">
			AND name=#{name}
		</if>
		<if test="phone != null and phone !=''">
			AND phone=#{phone}
		</if>
		<if test="password != null and password !=''">
			AND password=#{password}
		</if>
	</sql>
	<insert id="insertUser" parameterType="com.test.entity.User">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
        </selectKey>
		INSERT INTO T_ZJL_USER(name,phone,password) 
		VALUES (#{name} ,#{phone},#{password})
	</insert>
	<select id="findUser" parameterType="com.test.entity.User" resultType="com.test.entity.User">
		SELECT * FROM T_ZJL_USER
		<where>
			<include refid="User_Clause"/>
		</where>
	</select>

</mapper>